@font-face {
    font-family: 'SourceSansPro';
    src: local('SourceSansPro'),
    url("./assets/fonts/SourceSansPro-Light.ttf") format('truetype');


}
*{
    scroll-behavior: smooth;
}

body {
    font-family: SourceSansPro -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: SourceSansPro, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    overflow-x: hidden;
}