
@font-face {
    font-family: 'SourceSansProBold';
    font-style: normal;
    font-weight: 400;
    src: local('SourceSansProBold'), local('SourceSansProBold'),
    url('./assets/fonts/SourceSansPro-Bold.woff') format('woff'),
    url('./assets/fonts/SourceSansPro-Bold.ttf') format('truetype');

}

@font-face {
    font-family: 'SourceSansProLight';
    font-style: normal;
    font-weight: 400;
    src: local('SourceSansProLight'), local('SourceSansProLight'),
    url('./assets/fonts/SourceSansPro-Light.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/SourceSansPro-Light.ttf') format('truetype'); /* Legacy iOS */
}

@font-face {
    font-family: 'SourceSansProSemiBold';
    font-style: normal;
    font-weight: 400;
    src: local('SourceSansProSemiBold'), local('SourceSansProSemiBold'),
    url('./assets/fonts/SourceSansPro-SemiBold.ttf') format('truetype'),
    url('./assets/fonts/SourceSansPro-SemiBold.woff') format('woff');
}



*{
    scroll-behavior: smooth;
}

body {
    font-family: SourceSansProBold,SourceSansProLight, SourceSansProSemiBold, 'Seravek', 'Revisal';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: SourceSansPro;
}

html {
    overflow-x: hidden;
}